*{
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #fcfcfc;
}

header{
    text-align: center;
    font-size: 100px;
    background: radial-gradient(circle at top left, #43d839, #00029e);
    font-style: italic;
    color: #ffffff;
    padding: 5px;
    text-shadow: 2px 2px 5px #000;
}

ul{
    text-align: center;
    padding-top: 18px;
    padding-bottom: 30px;
}

li{
    display: inline-table;
}

a:hover{
    background: radial-gradient(circle at top left, #39b7d8 50%, #00029e);
    text-shadow: 0 0 7px #001570, 0 0 2px #000;
    padding: 10px;
    color: #fdfdfd;
}

a{
    background: radial-gradient(circle at top left, #2f9758 50%, #132873);
    text-shadow: 0 0 7px #000;
    color: #fcfcfc;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
}

p {
    text-shadow: 0 0 2px #000;
}

hr{
    margin: 1%;
}

#content{
    margin-left: 5%;
    margin-right: 5%;
    padding: 3%;
    background: radial-gradient(circle at top left, #43d839, #00029e);
    border-radius: 3px;
    color: #fcfcfc;
    text-shadow: 2px 2px 2px 2px;
}

.leftText {
    text-align: left;
}

.subTitle{
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
    font-style: italic;
    text-shadow: 1px 1px 3px #000;
}

.home1{
    text-indent: 70px;
    font-size: 25px;
}

.biodata .biodataa{
    margin: auto;
    padding: 12px;
    border-radius: 10px;
    background-color: #00000080;
}

.border {
    border: thick double #277e64;
    margin: 12px;
}

.blog h2{
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
    font-style: oblique;
}

a .readmore{
    background-color: pink;
}

#footer{
    background: radial-gradient(circle at top left, #25755f, #00029e);
    padding: 3px;
    margin-top: 50px;
    height: 90px;
}

.copy{
    margin-top: inherit;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 15px;
}

.jam_digital{
    overflow: hidden;
    width: max-content;
    margin: 10px auto;
    background-color: #1e646f;
    box-shadow: 0 0 10px 2px #000;
    border-radius: 2px;
}
.kotak{
    float: left;
    margin: 2px;
    border: 3.5px solid black;
}
.jam_digital p{
    color: black;
    font-size: 24px;
    text-align: center;
    text-shadow: 0 0 12px #fcfcfc;
    margin: 6px 12px;
}
.icon {
    width: 40px;
}
.sosmed {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sosmed2nd {
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sosmed2nd a{
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
}
.kenalan {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}

.formKenalan {
    padding: 3%;
    border-radius: 20px;
    box-shadow: 0px 0px 12px 2px;
}
.inputText {
    box-shadow: 0px 0px 7px;
    border-radius: 7px;
}
.respon {
    padding: 5px;
    margin-top: 15px;
    -webkit-text-stroke-width: thin;
    box-shadow: 1px 1px 5px 5px;
    border-radius: 5px;
}
input {
    background: transparent;
    padding: 1em;
    border: none;
}

input[type="submit"] {
    background: radial-gradient(circle at top left, #1c586f 50%, #0a226c);
    border-radius: 4px;
    box-shadow: 1px 1px 3px #333333;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    padding: 5px;
    margin-top: 12px;
    text-align: center;
    text-shadow: 1px 1px 4px #000000;
}
